@using Shop.SDK.Models.Managers
@using Shop.SDK.Models
@using Shop.Web.Extension
 
@helper ShowTreeNode(IEnumerable<ProductCategoryModel> list)
{

    <ul>
        @{ 
            list = list.OrderBy(x => x.Name);
        }
        @foreach (var item in list)
        {
            <li>
                @if ((item.SubCategories == null) || (item.SubCategories.Count() == 0))
                {
                    @Html.ActionLink(item.Name, "Index", "Category", new { id = item.ID }, new { })
                }
                else
                {
                    <a href="#">@item.Name</a>
                    @ShowTreeNode(item.SubCategories.OrderBy(x => x.Name))
                }
            </li>
        }
    </ul>
}

@ShowTreeNode(ManagerFactory.Instance.GetManager<ProductCategoryManager>().GetTopLevel())
