@using Shop.SDK.Models.Managers
@using Shop.SDK.Models
@using Shop.Web.Extension
 
@helper ShowTreeNode(IEnumerable<ProductCategoryModel> list)
{

    <ul>@foreach (var item in list)
        {
            <li>
                <a href="#">@item.Name</a>
                @ShowTreeNode(item.SubCategories)
            </li>
        }</ul>
}

@ShowTreeNode(ProductCategoryManager.GetTopLevel());
