@if (User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink(@User.Identity.Name, "UserInfo", "Account", new {   })</li>
    <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Войти", "Index", "Account")</li>
}
