body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.product-compact {
    border-radius: 5px 5px;
    min-height: 250px;
    padding: 10px;
    border: #fff 1px solid;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 10px;
    min-width: 250px;
    text-decoration: none;
}

div.hoverable:hover {
    border: #add9f2 1px solid;
    cursor: pointer;
}

.product-compact .image-container {
    width: 100%;
    padding:10px;
    max-height: 150px;
    display: block;
}

.product-compact .image-container .product-image {
    display: block;
    margin: auto;
}

/*
    Раздел: детальная информация о продукте
    Изображение продукта
*/
div.product-details-img {
    display:inline-block;
    vertical-align: middle;
}

/*
    Раздел: детальная информация о продукте
    Основная информация о продукте
*/
div.product-details-info label {
}

div.tab-content {
    padding-top: 5px;
}

.spaced {
    margin-bottom: 10px;
}

.no-padding {
    padding: 0px;
}

.control-button-panel {
    padding-top: 10px;
}

.inline-block {
    display: inline-block;
}

input.small-number {
    width: 100px;
}

